R"CPP_RAW_STRING(

QToolTip {
	border: 1px solid #111;
	background-color: #00c8ff;
	padding: 1px;
	border-radius: 3px;
	opacity: 100;
}

QWidget {
	background-color: #1e1e1e;
	color: #e0e0e0;
	selection-background-color: #00c8ff;
	selection-color: #000;
}

QWidget:disabled {
	color: #555;
}

QDockWidget {
	font-weight: bold;
	color: #00c8ff;
}

QLabel {
	background-color: transparent;
	color: #e0e0e0;
}
QMenuBar {
	background-color: qlineargradient(spread:repeat, x1:1, y1:0, x2:1, y2:1, stop:0 rgba(40,40,40,255), stop:1 rgba(30,30,30,255));
	border: 1px solid #111;
	color: #e0e0e0;
}
QMenuBar::item {
	background-color: transparent;
}
QMenuBar::item:selected {
	background-color: rgba(0,200,255,20%);
	border: 1px solid #00c8ff;
	color: #fff;
}
QMenuBar::item:pressed {
	background-color: #00c8ff;
	border: 1px solid #00c8ff;
	color: #000;
}
QMenu {
    background-color: qlineargradient(spread:repeat, x1:1, y1:0, x2:1, y2:1, stop:0 rgba(40,40,40,255), stop:1 rgba(30,30,30,255));
    border: 1px solid #222;
    padding: 4px;
	color: #e0e0e0;
}
QMenuBar:disabled {
	color: #555;
}

QMenu::item {
    background-color: transparent;
	padding: 2px 20px 2px 20px;
	border: 1px solid transparent;
}
QMenu::separator {
   	background-color: #444;
	height: 1px;
}
QMenu::item:disabled {
    color: #555;
    background-color: transparent;
    padding: 2px 20px 2px 20px;
}
QMenu::item:selected {
	background-color: rgba(0,200,255,20%);
	border: 1px solid #00c8ff;
	color: #fff;
}
QToolBar {
	background-color: qlineargradient(spread:repeat, x1:1, y1:0, x2:1, y2:1, stop:0 rgba(50,50,50,255), stop:1 rgba(35,35,35,255));
	border: 1px solid #333;
}
QToolBar::separator {
	background-color: #2e2e2e;
	width: 1px;
}
QToolButton {
	/* need this otherwise the button fidgets when hovered */
	border: 1px solid transparent;
}
QToolButton[popupMode="1"] { /* only for MenuButtonPopup */
    padding-right: 20px; /* make way for the popup button */
}

QToolButton:disabled {
	color: #555;
}
QToolButton:hover {
	background-color: rgba(0,200,255,20%);
	border: 1px solid #00c8ff;
}
QToolButton:pressed {
	background-color: #2b2b2b;
}
QToolButton:checked {
	background-color: #2b2b2b;
}
QPushButton {
	color: #e0e0e0;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: #00c8ff;
	padding: 5px;
}
QPushButton::flat {
	background-color: transparent;
	border: none;
	color: #e0e0e0;
}
QPushButton::disabled {
	background-color: #2a2a2a;
	color: #656565;
	border-color: #333;
}
QPushButton::hover {
	background-color: rgba(0,200,255,20%);
	border: 1px solid #00c8ff;
}
QPushButton::pressed {
	background-color: #2e2e2e;
	border: 1px solid #00c8ff;
}
QPushButton::checked {
	background-color: #00c8ff;
	border: 1px solid #00c8ff;
	color: #000;
}
QLineEdit {
	background-color: #232323;
	color : #e0e0e0;
	border: 1px solid #343434;
	border-radius: 2px;
	padding: 3px;
	padding-left: 5px;
}
QPlainTextEdit {
	background-color: #232323;
	color : #e0e0e0;
	border: 1px solid #343434;
	border-radius: 2px;
	padding: 3px;
	padding-left: 5px;
}
QLineEdit:focus, QPlainTextEdit:focus {
	border: 1px solid #00c8ff;
}

QTabWidget {
	border-style: none;
}

QTabBar::tab {
	background-color: qlineargradient(spread:repeat, x1:1, y1:0, x2:1, y2:1, stop:0 rgba(84,84,84,255), stop:1 rgba(59,59,59,255));
	color: #e0e0e0;
	border-style: solid;
	border-width: 1px;
	border-color: #666;
	padding: 1px 15px;
}
QTabBar::tab:selected {
	background-color: rgba(0,200,255,20%);
	border: 1px solid #00c8ff;
}
QTabBar::tab:!selected:hover {
	border-color: #00c8ff;
}


QComboBox {
    background-color: qlineargradient(spread:repeat, x1:1, y1:0, x2:1, y2:1, stop:0 rgba(84,84,84,255), stop:1 rgba(59,59,59,255));
    border: 1px solid #000;
    padding-left: 6px;
    color: #e0e0e0;
    height: 25px;
}
QComboBox::disabled {
	background-color: #404040;
	color: #656565;
	border-color: #333;
}
QComboBox:on {
    background-color: #00c8ff;
	color: #000;
}
QComboBox QAbstractItemView {
    background-color: #383838;
    color: #e0e0e0;
    border: 1px solid #111;
    selection-background-color: #00c8ff;
    outline: 0;
}
QComboBox::drop-down {
	background-color: qlineargradient(spread:repeat, x1:1, y1:0, x2:1, y2:1, stop:0 rgba(57,57,57,255), stop:1 rgba(50,50,50,255));
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;
    border-left: 1px solid #111;
}
QComboBox::down-arrow {
	image: url(":/combinear/icons/down_arrow.png");
}


QSpinBox,
QDoubleSpinBox {
    background-color: #232323;
	color : #e0e0e0;
	border: 1px solid #343434;
	padding: 3px 5px;
    border-radius : 2px;
}

QSpinBox::up-button,
QDoubleSpinBox::up-button {
	image: url(":combinear/icons/up_arrow.png");
}

QSpinBox::down-button,
QDoubleSpinBox::down-button {
	image: url(":combinear/icons/down_arrow.png");
}

/*
QSpinBox::up-button {
	border-top-right-radius:2px;
	background-color: #777777;
    width: 16px;
    border-width: 1px;
}
QSpinBox::up-button:hover {
	background-color: #585858;
}
QSpinBox::up-button:pressed {
	background-color: #252525;
    width: 16px;
    border-width: 1px;
}
QSpinBox::down-button {
	border-bottom-right-radius:2px;
	background-color: #777777;
    width: 16px;
    border-width: 1px;
}
QSpinBox::down-button:hover {
	background-color: #585858;
}
QSpinBox::down-button:pressed {
	background-color: #252525;
    width: 16px;
    border-width: 1px;
}
*/

QGroupBox {
    border: 0px solid;
    border-color: #666666;
	border-radius: 5px;
	margin-top: 20px;
	font-weight: bold;
	color: #e0e0e0;
}
QGroupBox::title {
    background-color: transparent;
    subcontrol-origin: margin;
    padding: 5px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
QHeaderView::section {
    background-color: qlineargradient(spread:repeat, x1:1, y1:0, x2:1, y2:1, stop:0 rgba(60,60,60,255), stop:1 rgba(50,50,50,255));
	border: 1px solid #111;
    color: #e0e0e0;
    text-align: left;
	padding: 4px;
}
QHeaderView::section:disabled {
    background-color: #525251;
    color: #656565;
}
QHeaderView::section:checked {
    background-color: #333;
    color: #e0e0e0;
}

QListView,
QTableView {
	background-color: #232323;
	border: 1px solid #343434;
}


QListView::disabled {
	background-color: #656565;
	color: #1b1b1b;
    border: 1px solid #656565;
}
QListView::item {
	background-color: #2d2d2d;
    padding: 1px;
}
QListView::item:alternate {
    background-color: #3a3a3a;
}
QListView::item:selected {
	background-color: #00c8ff;
	border: 1px solid #00c8ff;
	color: #000;
}
QListView::item:hover {
    background-color: #262626;
    border: none;
    color: #fff;
}

QCheckBox {
	background-color: transparent;
    color: #e0e0e0;
	border: none;
}

QGroupBox::indicator,
QCheckBox::indicator {
    background-color: #323232;
    border: 1px solid darkgray;
    width: 12px;
    height: 12px;
}
QGroupBox::indicator:checked,
QCheckBox::indicator:checked {
	background-color: #00c8ff;
    border: 1px solid #00c8ff;
}
QGroupBox::indicator:unchecked:hover,
QCheckBox::indicator:unchecked:hover {
	border: 1px solid #00c8ff;
}
QCheckBox::disabled {
	color: #656565;
}

QRadioButton {
	color: #e0e0e0;
	background-color: transparent;
}
QRadioButton::indicator::unchecked:hover {
	border: 2px solid #00c8ff;
	border-radius: 6px;
}
QRadioButton::indicator::checked {
	border: 2px solid #00c8ff;
	border-radius: 6px;
	background-color: rgba(0,200,255,20%);
	width: 9px;
	height: 9px;
}

QSlider::groove:horizontal {
	background-color: transparent;
	height: 3px;
}
QSlider::sub-page:horizontal {
	background-color: #00c8ff;
}
QSlider::add-page:horizontal {
	background-color: #131313;
}
QSlider::handle:horizontal {
	background-color: #00c8ff;
	width: 14px;
	margin-top: -6px;
	margin-bottom: -6px;
	border-radius: 6px;
}
QSlider::handle:horizontal:hover {
	background-color: #33d9ff;
}

QScrollBar:horizontal {
	border: 1px solid #222;
	background: qlineargradient(x1:0,y1:0,x2:0,y2:1, stop:0 #121212, stop:0.2 #282828, stop:1 #484848);
	height: 7px;
	margin: 0 16px;
}
QScrollBar::handle:horizontal {
	 background: #00c8ff;
	 min-height: 20px;
	 border-radius: 2px;
}
QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal {
	 border: 1px solid #111;
	 border-radius: 2px;
	 background: #00c8ff;
	 width: 14px;
}
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
	 background: none;
}

QScrollBar:vertical {
	 background: qlineargradient(x1:0,y1:0,x2:1,y2:0, stop:0 #121212, stop:0.2 #282828, stop:1 #484848);
	 width: 7px;
	 margin: 16px 0;
	 border: 1px solid #222;
}
QScrollBar::handle:vertical {
	 background: #00c8ff;
	 min-height: 20px;
	 border-radius: 2px;
}
QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
	 border: 1px solid #111;
	 border-radius: 2px;
	 background: #00c8ff;
	 height: 14px;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
	 background: none;
}

QProgressBar {
    border: 1px solid #666;
    text-align: center;
	font-weight: bold;
	color: #e0e0e0;
}
QProgressBar::chunk {
    background-color: #00c8ff;
    width: 30px;
    margin: 0.5px;
}

)CPP_RAW_STRING"
